:root {
  --primary: #EF5350; 
  --secondary: #263238; 
  --tertiary: #EBF5F0; 
  --quaternary: #FFFFFF; 
  --quinary: #FECA1B; 
  --senary: #3761A8; 
  font-size: 16px;
}

@media screen and (max-width: 1280px) { :root { font-size: 14px; } }
@media screen and (max-width: 960px) { :root { font-size: 12px; } }
@media screen and (max-width: 485px) {	:root { font-size: 10px; } }

body {
  background: var(--quaternary);
  color: var(--senary);
}

h1 {
  font-size: 4rem;
  color: var(--quinary);
  text-shadow: 5px 5px 0px var(--senary) 
}

/* Trading Card */
h3.pokemonName {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: var(--quinary);
  text-shadow: 2px 2px 0 var(--senary);
  text-transform: capitalize;
}

.tradingcard {
  margin-left: 0;
  margin-right: 2%;
  padding: 0;
  width: 18%;
  float: left;
  border: 1px solid var(--quinary);
  box-shadow: 6px 6px 1px 0px var(--tertiary);
  padding-right: .2em;
  padding-left: .7em;
  padding-bottom: .6em;
}

.infobox {
  width: 283px;
  border: 1px solid #DCDCDC;
  padding-right: .5em;
  padding-left: .5em;
}

.pokemonPicture {
  height: auto;
  width: 100%;
  padding-bottom: .8em;
}

.funfact {
  font-style: italic;
}

.list-info{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
span {
  font-weight: bold;
}
