:root {
  --primary: #EF5350; 
  --secondary: #263238; 
  --tertiary: #EBF5F0; 
  --quaternary: #FFFFFF; 
  --quinary: #FECA1B; 
  --senary: #3761A8; 
  font-size: 16px;
}

@media screen and (max-width: 1280px) { :root { font-size: 14px; } }
@media screen and (max-width: 960px) { :root { font-size: 12px; } }
@media screen and (max-width: 485px) {	:root { font-size: 10px; } }

body {
  background: var(--tertiary);
  color: var(--senary);
}

h1 {
  font-size: 4rem;
  color: var(--quinary);
  text-shadow: 5px 5px 0px var(--senary) 
}

.navbar-dark {
  background: var(--primary);
  font-family: 'Pokemon';
  text-shadow: 1px 1px 0 var(--senary);
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: var(--quinary);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--quaternary);
  font-size: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:active {
  color: var(--quinary);
}

.navbar-toggler > span {
  color: var(--quaternary);
  position: relative;
  top: -2px;
}

.navbar-dark .navbar-toggler {
  color: var(--quaternary);
  border-color: var(--quaternary);
}

header.jumbotron {
  margin-bottom: -3rem;
}

.pokeSection {
  padding-top: 5rem;
}

button:focus {
  outline: none;
}

h3.pokemonName {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: var(--quinary);
  text-shadow: 2px 2px 0 var(--senary);
  text-transform: capitalize;
  cursor: pointer;
}

.pokemonPicture {
  height: auto;
  width: 100%;
  padding-bottom: .8em;
  cursor: pointer;
}

span {
  font-weight: bold;
}

.filterBox .form-control {
  width: 15rem;
  display: inline-block;
  position: relative;
  top: 5px;
  right: 6px;
}

.filterBox button {
  background-color: var(--quinary);
  display: inline-block;
}

header.jumbotron, footer.jumbotron {
  background: var(--primary);
}

footer {
  bottom: 0;
}

.centerBox {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.spinner {
  position: fixed;
  z-index: 999;
  min-height: 50vh;
  min-width: 100vw;
}

.spinner div img {
  height: 10rem;
  width: auto;
}

.spinner:nth-of-type(1) {
  min-height: calc(80vh);
}

.pokeyButton {
  color: var(--quaternary);
  background: var(--primary);
  font-family: "Pokemon";
}
