:root {
  --primary: #EF5350; 
  --secondary: #263238; 
  --tertiary: #EBF5F0; 
  --quaternary: #FFFFFF; 
  --quinary: #FECA1B; 
  --senary: #3761A8; 
}

body {
  background: var(--quaternary);
}

h1,
p {
  font-family: monospace;
}
