:root {
  --primary: #EF5350; 
  --secondary: #263238; 
  --tertiary: #EBF5F0; 
  --quaternary: #FFFFFF; 
  --quinary: #FECA1B; 
  --senary: #3761A8; 
}

body {
  background: var(--quaternary);
  color: var(--senary);
}

h1 {
  font-size: 4rem;
  color: var(--quinary);
  text-shadow: 5px 5px 0px var(--senary) 
}

